body{ margin: 0px;
padding: 0px; }

h1{margin: auto; padding-bottom: 17px; padding-left: 20px; 
    font-size: 400%; background-color: black;color: gold; width: 100%;}

section{ 
    font-size: 800%; background-color: black; width: 100%;
}
img{height: 200px;width: 150px;}

p{background-color: bisque;font-size: 30%;}

h3{height: 10px; color: gold;background-color: black;
    padding-top: 10px;padding-bottom: 25px;padding-left: 50px; margin: 30px;}

    label{ margin: 10px; color: black;}

    input{  background-color: bisque; }

    textarea{ background-color: bisque; }

    button{ margin: 30px; color: gold; background-color: black;}
