body{ margin: 0px;
padding: 0px; background-color: gold;}


h3{height: 10px; color: gold;background-color: black;
    padding-top: 10px;padding-bottom: 25px;padding-left: 50px; margin: 30px;}

    label{ margin: 10px; color: black;}

    input{  background-color: bisque; }

    textarea{ background-color: bisque; }

    button{ margin: 30px; color: gold; background-color: black;}
